<!DOCTYPE html>
<!--[if IE 8]>
		<html lang="en" class="ie8 no-js" id="ng-app"  data-ng-app="vrApp"> <![endif]-->
<!--[if IE 9]>
		<html lang="en" class="ie9 no-js" id="ng-app"  data-ng-app="vrApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="vrApp">
<!--<![endif]-->


<head>
    <meta charset="utf-8" />
    <title>VR管理后台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #2 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/public/lib/css/vr.admin.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/page/css/custom.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="AppController" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">

    <div ng-spinner-bar class="page-spinner-bar" ng-spinner-bar>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="page-header navbar navbar-fixed-top" ng-include="'vr_header.html'" ng-controller="HeaderController"></div>

    <div class="clearfix"></div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse" ng-include="'vr_sidebar.html'" data-ng-controller="SidebarController"></div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div ui-view class="fade-in-up"></div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
        <script src="/public/lib/js/vr.admin.ie8.min.js"></script>
    <![endif]-->
    <script src="/public/lib/js/vr.admin.min.js" type="text/javascript"></script>
    <script src="/public/lib/js/pub.js" type="text/javascript"></script>
    <script src="/public/page/js/vrapp.js" type="text/javascript"></script>
    <script src="/public/lib/js/layout.min.js" type="text/javascript"></script>
    <script src="/public/lib/js/vr.helper.js" type="text/javascript"></script>



    <script src="/public/page/js/common/filter.js" type="text/javascript"></script>
    <script src="/public/page/js/common/directives.js" type="text/javascript"></script>
    <script src="/public/page/js/common/server.js" type="text/javascript"></script>


    <!-- VR首页  开始-->
    <script type="text/ng-template" id="vr_index.html">
        <div data-ng-controller="IndexController as indexVm">

            <time-bar conf="indexVm.directives.timeOptCfg"></time-bar>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="500000"> ¥ 500000 </span>
                            </div>
                            <div class="desc"> 收入 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="50000"> ¥ 200000 </span>
                            </div>
                            <div class="desc"> 分成 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="300000"> ¥ 300000 </span>
                            </div>
                            <div class="desc"> 利润 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="89"> 2000 </span>
                            </div>
                            <div class="desc"> 设备数 </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green"></i>
                                <span class="caption-subject font-green bold uppercase"> 统计表 </span>
                            </div>
                            <div class="actions">

                            </div>
                        </div>
                        <div class="portlet-body">

                            <!-- 自用首页  -->
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> 代理商 </th>
                                        <th> 收入金额 </th>
                                        <th> 分成金额 </th>
                                        <th> 设备数 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> 张三 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> 李四 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- 代理商首页  -->
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> 酒店名 </th>
                                        <th> 收入金额 </th>
                                        <th> 分成金额 </th>
                                        <th> 设备数 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> 汉庭 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> 如家 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- 代理商首页  -->
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> 房间号 </th>
                                        <th> 收入金额 </th>
                                        <th> 分成金额 </th>
                                        <th> 设备数 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> 001 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> 002 </td>
                                        <td> ¥2000 </td>
                                        <td> ¥1000 </td>
                                        <td> 10 </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </script>
    <!-- VR首页  结束-->

    <!-- VR订单  开始-->
    <script type="text/ng-template" id="vr_order.html">
        <div data-ng-controller="OrderListController as orderListVm">
            <time-bar conf="orderListVm.directives.timeOptCfg"></time-bar>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase"> 订单管理 </span>
                            </div>
                            <div class="actions">
                                <span class="caption-subject font-green uppercase">实收金额：¥25.00</span>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group pull-right">
                                            <input class="form-control input-medium pull-left margin-right-10" id="" placeholder="请输入微信名进行搜索">
                                            <button class="btn green border-radius-5 pull-left margin-right-10">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                            <a data-toggle="modal" href="#filter" class="btn green btn-outline border-radius-5 pull-left margin-right-10">&nbsp;&nbsp;筛&nbsp;&nbsp;选&nbsp;&nbsp;</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> 微信名 </th>
                                        <th> 起止时间 </th>
                                        <th> 实收金额 </th>
                                        <th> 消费地点 </th>
                                        <th> 设备号 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> 阿里巴巴 </td>
                                        <td>
                                            <div>起：2017-04-05 12：00</div>
                                            <div>止：2017-04-05 14：00</div>
                                        </td>
                                        <td> ¥20.00 </td>
                                        <td> 大连-汉庭酒店 </td>
                                        <td> 123489 </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> 四十大盗 </td>
                                        <td>
                                            <div>起：2017-04-05 12：00</div>
                                            <div>止：2017-04-05 14：00</div>
                                        </td>
                                        <td> ¥5.00 </td>
                                        <td> 大连-如家酒店 </td>
                                        <td> 123409 </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>

        </div>
    </script>
    <!-- VR订单  结束-->

    <!-- VR设备管理  开始-->
    <script type="text/ng-template" id="vr_dev.html">
        <div class="row" data-ng-controller="DevListController as devListVm">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase"> 设备管理 </span>
                        </div>
                        <% if(userType=='USER_TYPE_HOTEL'){%>
                            <div class="actions">
                                <a ng-click='devListVm.page.event.saveDevModalView()' class="btn green border-radius-5 margin-right-10">&nbsp;&nbsp;新增设备&nbsp;&nbsp;</a>
                            </div>
                            <%}%>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group pull-right">
                                        <input class="form-control input-medium pull-left margin-right-10" id="" placeholder="请输入房间号、二维码编号、设备号">
                                        <button class="btn green border-radius-5 pull-left margin-right-10">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                        <a data-toggle="modal" href="#filter" class="btn green btn-outline border-radius-5 pull-left margin-right-10">&nbsp;&nbsp;筛&nbsp;&nbsp;选&nbsp;&nbsp;</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 房间号 </th>
                                    <th> 二维码编号 </th>
                                    <th> 设备号 </th>
                                    <th> 添加时间 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='item in devListVm.page.vm.list'>
                                    <td> {{$index + 1}} </td>
                                    <td> {{item.roomNum}} </td>
                                    <td> {{item.qrcodes||''}} </td>
                                    <td> {{item.devCode}} </td>
                                    <td> {{item.created.substr(0,16)}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal fade draggable-modal ui-draggable" id="divDevSaveModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ui-draggable-handle">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"> 新增设备 </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-md-3">房间号：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" maxlength='30' autocomplete='off' placeholder="请输入房间号" ng-model='devListVm.page.vm.save.roomNum'>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="item in devListVm.page.vm.save.qrcodeList">
                                    <label class="control-label col-md-3">二维码编号：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium pull-left" placeholder="请输入二维码编号与设备绑定" ng-model='item.qrcode' maxlength='20' autocomplete='off'>
                                        <div class="add_equipment pull-left" ng-click='devListVm.page.event.qrcodeCreate()' ng-if="$last"><i class="fa fa-plus-square"></i></div>
                                        <div class="add_equipment pull-left" ng-click='devListVm.page.event.qrcodeRemove($index)' ng-if="!$last"><i class="fa fa-minus-square"></i></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">设备号：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入设备号进行绑定" ng-model='devListVm.page.vm.save.devCode' maxlength='20' autocomplete='off'>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button ng-disabled='devListVm.loading' ng-readonly='devListVm.loading' ng-click='devListVm.page.event.save()' type="button" class="btn green">&nbsp;&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            <button type="button" class="btn default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </script>
    <!-- VR设备管理  结束-->

    <!-- VR二维码  开始-->
    <script type="text/ng-template" id="vr_qrcode.html">
        <div class="row" data-ng-controller="QrcodeListController as qrcodeListVm">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase"> 二维码管理 </span>
                        </div>
                        <div class="actions">
                            <a data-toggle="modal" href="#add-QR-code" class="btn green border-radius-5 margin-right-10">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 时间 </th>
                                    <th> 数量 </th>
                                    <th> 备注 </th>
                                    <th> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td> 2017-04-05 12：30 </td>
                                    <td> 1000 </td>
                                    <td> </td>
                                    <td>
                                        <a href="#">下载</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- VR二维码  结束-->

    <!-- VR代理商  开始-->
    <script type="text/ng-template" id="vr_agent.html">
        <div class="row" data-ng-controller="AgentListController as agentListVm" id='agentPageLoadId'>
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase"> 代理商管理 </span>
                        </div>
                        <div class="actions">
                            <a ng-click="agentListVm.page.event.agentSaveModalView()" class="btn green border-radius-5 margin-right-10">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group pull-right">
                                        <input class="form-control input-medium pull-left margin-right-10" ng-model='agentListVm.page.vm.top.name' placeholder="请输入名称进行搜索">
                                        <button ng-disabled='agentListVm.loading' ng-readonly='agentListVm.loading' ng-click='agentListVm.page.event.rearch()' class="btn green border-radius-5 pull-left margin-right-10">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 agent_manage hide">添加下级代理商后，由代理商所管理的酒店产生的金额，将按照分成比例给与代理商</div>
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 名称 </th>
                                    <th> 手机号 </th>
                                    <th> 分成比例 </th>
                                    <th> 设备数 </th>
                                    <th style='width: 20%;'> 备注 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='item in agentListVm.page.vm.list'>
                                    <td> {{$index + 1}} </td>
                                    <td> {{item.name}} </td>
                                    <td> {{item.mobile}} </td>
                                    <td> {{item.rate}}% </td>
                                    <td> {{item.devCnt||0}} </td>
                                    <td> {{item.remark||''}} </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <tm-pagination conf="agentListVm.pageCfg"></tm-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade draggable-modal ui-draggable" id="agentSaveModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ui-draggable-handle">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"> 新增代理商 </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入名称" maxlength='50' ng-model='agentListVm.page.vm.save.name'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">手机号：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入手机号" maxlength='11' ng-model='agentListVm.page.vm.save.mobile'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">分成比例：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入分成比例" maxlength='3' ng-model='agentListVm.page.vm.save.rate'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">备注：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入备注" maxlength='140' ng-model='agentListVm.page.vm.save.remark'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">初始密码：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入初始密码" maxlength='30' ng-model='agentListVm.page.vm.save.pwd'>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" id='agentSaveLoadId'>
                            <button ng-disabled='agentListVm.loading' ng-readonly='agentListVm.loading' ng-click='agentListVm.page.event.save()' type="button" class="btn green">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            <button type="button" class="btn default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </script>
    <!-- VR代理商  结束-->

    <!-- VR酒店  开始-->
    <script type="text/ng-template" id="vr_hotel.html">
        <div class="row" data-ng-controller="HotelListController as hotelListVm" id='hotelPageLoadId'>
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase"> 酒店管理 </span>
                        </div>
                        <% if(userType=='USER_TYPE_AGENT'){%>
                            <div class="actions">
                                <a ng-click="hotelListVm.page.event.hotelSaveModalView()" class="btn green border-radius-5 margin-right-10">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</a>
                            </div>
                            <%}%>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group pull-right">
                                        <input ng-model='hotelListVm.page.vm.top.name' class="form-control input-medium pull-left margin-right-10" placeholder="请输入名称进行搜索">
                                        <button ng-disabled='hotelListVm.loading' ng-readonly='hotelListVm.loading' ng-click='hotelListVm.page.event.rearch()' class="btn green border-radius-5 pull-left margin-right-15">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-12 agent_manage hide">添加酒店后，由酒店内设备产生的金额，将按照分成比例给与酒店（PS:酒店分成金额将从代理商收入内扣除）</div>

                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 名称 </th>
                                    <th> 手机号 </th>
                                    <th> 分成比例 </th>
                                    <th> 设备数 </th>
                                    <th style='width: 20%;'> 备注 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='item in hotelListVm.page.vm.list'>
                                    <td> {{$index + 1}} </td>
                                    <td> {{item.name}} </td>
                                    <td> {{item.mobile}} </td>
                                    <td> {{item.rate}}% </td>
                                    <td> {{item.devCnt||0}} </td>
                                    <td> {{item.remark||''}} </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <tm-pagination conf="hotelListVm.pageCfg"></tm-pagination>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="modal fade draggable-modal ui-draggable" id="hotelSaveModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ui-draggable-handle">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"> 新增代理商 </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入名称" maxlength='50' ng-model='hotelListVm.page.vm.save.name'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">手机号：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入手机号" maxlength='11' ng-model='hotelListVm.page.vm.save.mobile'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">分成比例：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入分成比例" maxlength='3' ng-model='hotelListVm.page.vm.save.rate'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">备注：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入备注" maxlength='140' ng-model='hotelListVm.page.vm.save.remark'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">初始密码：</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-medium" placeholder="请输入初始密码" maxlength='30' ng-model='hotelListVm.page.vm.save.pwd'>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" id='hotelSaveLoadId'>
                            <% if(userType=='USER_TYPE_AGENT'){%>
                                <button ng-disabled='hotelListVm.loading' ng-readonly='hotelListVm.loading' ng-click='hotelListVm.page.event.save()' type="button" class="btn green">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <%}%>
                                    <button type="button" class="btn default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </script>
    <!-- VR酒店  结束-->

    <!-- VR广告  开始-->
    <script type="text/ng-template" id="vr_adv.html">
        <div class="row" data-ng-controller="AdvListController as advListVm">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase"> 广告管理 </span>
                        </div>
                        <div class="actions" ng-if='advListVm.page.vm.list.length<5'>
                            <a ng-click='advListVm.page.event.viewAdvSaveModal()' class="btn green border-radius-5 margin-right-10">&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 图片 </th>
                                    <th> 发布时间 </th>
                                    <th> 发布区域 </th>
                                    <th style='width:30%;'> 备注 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='item in advListVm.page.vm.list'>
                                    <td> {{$index + 1}} </td>
                                    <td>
                                        <img ng-click='advListVm.page.event.viewLargeImgModal(item.img)' ng-src='{{item.img|qnImgUrlFliter}}' class="img-thumbnail" style="width: 150px; height: 150px;cursor:pointer;">
                                    </td>
                                    <td> {{item.created.substr(0,16)}} </td>
                                    <td> {{item.scope}} </td>
                                    <td> {{item.remark||''}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div calss='row' ng-if='advListVm.page.vm.list.length==0'>
                            <div calss='col-md-12'>
                                <div class="empty">
                                    <div class="img"></div>
                                    <div class="empty-info font-grey-salt">暂无数据</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="vrAdvSaveViewModal" class="modal fade draggable-modal ui-draggable" id="add-ad" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header ui-draggable-handle">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title"> 新增广告 </h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" id='uploadForm'>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">图片上传：</label>
                                        <div class="col-md-9">
                                            <div class="fileinput fileinput-new " data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img ng-src="{{advListVm.page.vm.save.imgCode|qnImgUrlFliter}}">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new">上传图片 </span>
                                                    <input type="file" id="uploadFormFile" com-upload-file-change='advListVm.page.event.comUploadFileChange'>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">发布区域：</label>
                                        <div class="col-md-9">
                                            <select class="form-control input-medium" ng-model='advListVm.page.vm.save.scope'>
                                                <option value='全国'>全国</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">备注：</label>
                                        <div class="col-md-9">
                                            <input class="form-control input-medium" placeholder="请输入备注" maxlength='140' ng-model='advListVm.page.vm.save.remark'>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-click='advListVm.page.event.save()' ng-readonly='advListVm.loading' ng-disabled='advListVm.loading' type="button" class="btn green">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="btn default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="viewLargeImgModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img ng-src="{{advListVm.page.vm.largeImgUrl|qnImgUrlFliter}}" class="img-thumbnail" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </script>
    <!-- VR广告  结束-->

    <!-- VR信息  开始-->
    <script type="text/ng-template" id="vr_info.html">
        <div calss="row" data-ng-controller="InfoController as infoVm">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption ">
                            <span class="caption-subject font-green bold uppercase">信息管理</span>
                        </div>

                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#tab_1_1_1" data-toggle="tab" aria-expanded="false"> 基本信息 </a></li>
                            <li class=""><a href="#tab_1_1_2" data-toggle="tab" aria-expanded="false"> 修改密码 </a></li>
                        </ul>

                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <div class="row">
                                    <div class="col-md-12">

                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">名称：</label>
                                                <div class="col-md-9">
                                                    <input class="form-control input-medium" placeholder="如家酒店">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">位置：</label>
                                                <div class="col-md-9">
                                                    <select class="form-control input-small pull-left margin-right-10">
                      <option>省</option>
                      <option>辽宁</option>
                      <option>广东</option>
                      <option>北京</option>
                    </select>
                                                    <select class="form-control input-small pull-left margin-right-10">
                      <option>市</option>
                    </select>
                                                    <input class="form-control input-medium pull-left " placeholder="详细位置">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">联系人电话：</label>
                                                <div class="col-md-9">
                                                    <input class="form-control input-medium" placeholder="请输入联系人电话">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3"></label>
                                                <div class="col-md-9">
                                                    <button class="btn green border-radius-5">&nbsp;&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane " id="tab_1_1_2">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">初始密码：</label>
                                        <div class="col-md-9">
                                            <input class="form-control input-medium" placeholder="请输入初始密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">新密码：</label>
                                        <div class="col-md-9">
                                            <input class="form-control input-medium" placeholder="请输入新密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">再次输入：</label>
                                        <div class="col-md-9">
                                            <input class="form-control input-medium" placeholder="请再次输入密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3"></label>
                                        <div class="col-md-9">
                                            <button class="btn green border-radius-5">&nbsp;&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- VR信息  结束-->


    <!-- VR模版  开始-->
    <script type="text/ng-template" id="temp.html">
        <div data-ng-controller="OrderListController as advListVm">
        </div>
    </script>
    <!-- VR模版  结束-->

    <!-- 顶部模板 开始 -->
    <script type="text/ng-template" id="vr_header.html">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="index.html">VR后台管理</a>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <div class="page-top"></div>
        </div>
    </script>
    <!-- 顶部模板 结束-->

    <!-- 左侧菜单 开始 -->
    <script type="text/ng-template" id="vr_sidebar.html">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu page-sidebar-menu-compact" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active">
                <a href="#/index.html" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <div class="title">首页</div>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/order.html" class="nav-link nav-toggle">
                    <i class="icon-user-following"></i>
                    <span class="title">订单管理</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/dev.html" class="nav-link nav-toggle">
                    <i class="icon-bar-chart"></i>
                    <span class="title">设备管理</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <% if(userType=='USER_TYPE_ADMIN'){%>
                <li class="nav-item " style='display:none;'>
                    <a href="#/qrcode.html" class="nav-link nav-toggle">
                        <i class="icon-bulb"></i>
                        <span class="title">二维码管理</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/agent.html" class="nav-link nav-toggle">
                        <i class="icon-notebook"></i>
                        <span class="title">代理商管理</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <%}%>

                    <li class="nav-item">
                        <a href="#/hotel.html" class="nav-link nav-toggle">
                            <i class="icon-globe"></i>
                            <span class="title">酒店管理</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <% if(userType=='USER_TYPE_ADMIN'){%>

                        <li class="nav-item">
                            <a href="#/adv.html" class="nav-link nav-toggle">
                                <i class="icon-credit-card"></i>
                                <span class="title">广告管理</span>
                                <span class="arrow"></span>
                            </a>
                        </li>

                        <%}%>
                            <% if(userType!='USER_TYPE_ADMIN'){%>
                                <li class="nav-item">
                                    <a href="#/info.html" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i>
                                        <span class="title">信息管理</span>
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                                <%}%>
                                    <li class="nav-item">
                                        <a href="logout" class="nav-link nav-toggle">
                                            <i class=" icon-logout"></i>
                                            <span class="title">退出</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
        </ul>
    </script>
    <!-- 左侧菜单 结束-->

</body>

</html>